@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FF9900;
}

.productly {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0 10px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.header img {
    max-width: 186px;
    max-height: 32px;
    padding-top: 5px;
    padding-right: 15em;
}

.nav-ul {
    display: flex;
    padding-top: 10px;
}

.nav-ul__li {
    margin-left: 30px;
    list-style: none;
}

.sign {
    margin-left: 30px;
    top: -5px;
}

.sign button {
    padding: 11px 23px;
    background: white;
    color: #173A56;
    font-weight: 700;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    cursor: pointer;
}

.sign button:hover {
    background: #FF9900;
    border: 0;
    color: white;
}

.top-block {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.top-block__descr_title {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
    padding-top: 70px;
}

.top-block__descr_paragraph {
    padding-top: 30px;
    padding-right: 130px;
    font-size: 18px;
    font-weight: 400;
}

.top-block__descr_links {
    padding-top: 55px;
}

.top-block__descr_linksButton {
    background: #FF9900;
    padding: 13px 41px;
    color: white;
    border-radius: 4px;
    border: 2px solid #FF9900;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.top-block__descr_linksButton:active {
    background: transparent;
    color: #FF9900;
    border: 2px solid #FF9900;
}

.top-block__descr_linksText {
    display: inline-block;
    position: relative;
    padding-left: 45px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline 1px;
}

.top-block__descr_linksText a {
    color: #FF9900;
}

.top-block__descr_linksText::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 30px;
    border: 8px solid transparent; 
    border-left: 10px solid #FF9900;
}

.benefits__title {
    margin-top: 110px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.benefits__items {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.benefits__subtitle {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

.benefits__paragpaph {
    margin-top: 13px;
    max-width: 240px;
}

.benefits__button {
    text-align: center;
    margin-top: 34px;
}

.benefits__button button {
    background: #FF9900;
    color: white;
    padding: 15px 32px;
    border-radius: 4px;
    border: 2px solid #FF9900;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

.benefits__button button:active {
    background: white;
    color: #FF9900;
}

.design {
    display: flex;
    justify-content: space-between;
    margin-top: 210px;
}

.design__content {
    margin-right: 100px;
    margin-top: 40px;
}

.design__content_title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
}

.design__content_subtitle {
    font-weight: 700;
}

.design__content_paragraph {
    margin: 12px 0 25px;
}

.design__content_paragraph:first-child {
    margin: 0;
}

.pm {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.pm__content {
    margin-left: 100px;
    margin-top: 40px;
}

.pm__content_title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-left: 30px;
}

.pm__content_checkpoints {
    margin-top: 30px;
}

.pm__content_checkpointsItem {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.pm__content_checkpointsItem img {
    width: 35px;
    height: 35px;
    margin-left: 30px;
}

.pm__content_paragraph {
    margin-left: 30px;
}

.marketers {
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
}

.marketers__content {
    margin-right: 100px;
    margin-top: 40px;
}

.marketers__content_title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
}

.marketers__content_subtitle {
    font-weight: 700;
}

.marketers__content_paragraph {
    margin: 12px 0 25px;
}

.marketers__content_paragraph:first-child {
    margin: 0;
}

.marketers__img {
    max-width: 520px;
}

footer {
    margin-top: 252px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}

footer ul {
    margin-top: 33px;
    margin-bottom: 83px;
}

footer ul li {
    list-style: none;
    padding: 8px 0;
}

.footer__input {
    margin-top: 70px;
    margin-left: 20px;
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
}

.footer__button {
    background: #FF9900;
    color: white;
    padding: 6px 18px;
    border: 2px solid #FF9900;
    margin: 20px;
    font-weight: 600;
    cursor: pointer;
}

.footer__button:active {
    background: white;
    color: #FF9900;
}
