$screen-medium: 1200px;
$screen-tablet: 1024px;
$screen-small: 320px;

$content-width: 1120px;

$title-font: 'Red Hat Display', sans-serif;
$paragraph-font: 'Lato', sans-serif;

$title-color:#000000;
$paragraph-color: #565656;